In [1]:
# Data Analysis and Wrangling 
import numpy as np
import pandas as pd
import random as rnd
from datetime import date
import re

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [92]:
# Aquire Data

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
combine = [train_df,test_df]

In [62]:
train_df.head()
# test_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [63]:
print (train_df.columns.values)

['UniqueID' 'disbursed_amount' 'asset_cost' 'ltv' 'branch_id'
 'supplier_id' 'manufacturer_id' 'Current_pincode_ID' 'Date.of.Birth'
 'Employment.Type' 'DisbursalDate' 'State_ID' 'Employee_code_ID'
 'MobileNo_Avl_Flag' 'Aadhar_flag' 'PAN_flag' 'VoterID_flag'
 'Driving_flag' 'Passport_flag' 'PERFORM_CNS.SCORE'
 'PERFORM_CNS.SCORE.DESCRIPTION' 'PRI.NO.OF.ACCTS' 'PRI.ACTIVE.ACCTS'
 'PRI.OVERDUE.ACCTS' 'PRI.CURRENT.BALANCE' 'PRI.SANCTIONED.AMOUNT'
 'PRI.DISBURSED.AMOUNT' 'SEC.NO.OF.ACCTS' 'SEC.ACTIVE.ACCTS'
 'SEC.OVERDUE.ACCTS' 'SEC.CURRENT.BALANCE' 'SEC.SANCTIONED.AMOUNT'
 'SEC.DISBURSED.AMOUNT' 'PRIMARY.INSTAL.AMT' 'SEC.INSTAL.AMT'
 'NEW.ACCTS.IN.LAST.SIX.MONTHS' 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS'
 'AVERAGE.ACCT.AGE' 'CREDIT.HISTORY.LENGTH' 'NO.OF_INQUIRIES'
 'loan_default']

In [93]:
for dataset in combine:
    dataset.rename(columns  = {"Date.of.Birth": "Date_of_Birth", 
                     "Employment.Type":"Employment_Type", 
                     "PERFORM_CNS.SCORE.DESCRIPTION": "PERFORM_CNS_SCORE_DESCRIPTION", 
                     "PRI.NO.OF.ACCTS":"PRI_NO_OF_ACCTS", 
                     "PRI.ACTIVE.ACCTS": "PRI_ACTIVE_ACCTS", 
                     "PRI.OVERDUE.ACCTS":"PRI_OVERDUE_ACCTS", 
                     "PRI.CURRENT.BALANCE": "PRI_CURRENT_BALANCE", 
                     "SEC.NO.OF.ACCTS":"SEC_NO_OF_ACCTS", 
                     "SEC.ACTIVE.ACCTS": "SEC_ACTIVE_ACCTS", 
                     "SEC.OVERDUE.ACCTS":"SEC_OVERDUE_ACCTS", 
                     "PRIMARY.INSTAL.AMT": "PRIMARY_INSTAL_AMT", 
                     "NEW.ACCTS.IN.LAST.SIX.MONTHS":"NEW_ACCTS_IN_LAST_SIX_MONTHS", 
                     "DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS": "DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS", 
                     "AVERAGE.ACCT.AGE":"AVERAGE_ACCT_AGE", 
                     "CREDIT.HISTORY.LENGTH": "CREDIT_HISTORY_LENGTH", 
                     "NO.OF_INQUIRIES":"NO_OF_INQUIRIES" } ,   
                                 inplace = True)

In [70]:
print (train_df.columns.values)

['ltv' 'branch_id' 'manufacturer_id' 'Date_of_Birth' 'Employment_Type'
 'State_ID' 'PERFORM_CNS_SCORE_DESCRIPTION' 'PRI_NO_OF_ACCTS'
 'PRI_ACTIVE_ACCTS' 'PRI_OVERDUE_ACCTS' 'PRI_CURRENT_BALANCE'
 'SEC_NO_OF_ACCTS' 'SEC_ACTIVE_ACCTS' 'SEC_OVERDUE_ACCTS'
 'PRIMARY_INSTAL_AMT' 'NEW_ACCTS_IN_LAST_SIX_MONTHS'
 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS' 'AVERAGE_ACCT_AGE'
 'CREDIT_HISTORY_LENGTH' 'NO_OF_INQUIRIES' 'loan_default']

In [66]:
train_df.describe(include=['O'])

,Date_of_Birth,Employment_Type,DisbursalDate,PERFORM_CNS_SCORE_DESCRIPTION,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH
count,233154,225493,233154,233154,233154,233154
unique,15433,2,84,20,192,294
top,01-01-88,Self employed,31-10-18,No Bureau History Available,0yrs 0mon,0yrs 0mon
freq,2173,127635,8826,116950,119373,119127

# Analysing by Pivoting features

In [67]:
# Analysing by Pivoting features

train_df[['Employment_Type','loan_default']].groupby(['Employment_Type'], as_index=False).mean().sort_values(by='loan_default',ascending=False)

  Employment_Type  loan_default
1   Self employed      0.227657
0        Salaried      0.203458

In [68]:
train_df[['PERFORM_CNS_SCORE_DESCRIPTION','loan_default']].groupby(['PERFORM_CNS_SCORE_DESCRIPTION'],as_index=False).mean().sort_values(by='loan_default',ascending=False)

                        PERFORM_CNS_SCORE_DESCRIPTION  loan_default
12                                   M-Very High Risk      0.304581
11                                   L-Very High Risk      0.280423
10                                        K-High Risk      0.278120
8                                       I-Medium Risk      0.272629
19       Not Scored: Sufficient History Not Available      0.255777
9                                         J-High Risk      0.252401
7                                       H-Medium Risk      0.241867
13                        No Bureau History Available      0.231313
18                       Not Scored: Only a Guarantor      0.213115
17  Not Scored: Not Enough Info available on the c...      0.209695
6                                          G-Low Risk      0.197091
16  Not Scored: No Updates available in last 36 mo...      0.190352
5                                          F-Low Risk      0.186211
15  Not Scored: No Activity seen on the customer (...      0.183709
2                                     C-Very Low Risk      0.172639
4                                          E-Low Risk      0.171792
0                                     A-Very Low Risk      0.165746
3                                     D-Very Low Risk      0.149586
1                                     B-Very Low Risk      0.131290
14     Not Scored: More than 50 active Accounts found      0.000000

# Correcting by dropping features

In [88]:
#Dropping the features
train_df = train_df.drop(['UniqueID','disbursed_amount','asset_cost','supplier_id','Current_pincode_ID','DisbursalDate','Employee_code_ID','MobileNo_Avl_Flag','Aadhar_flag','PAN_flag','VoterID_flag','Driving_flag','Passport_flag','PERFORM_CNS.SCORE','PRI.SANCTIONED.AMOUNT','PRI.DISBURSED.AMOUNT','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT'], axis=1)

# Replace the features based on the Bands

* Primary No of Accounts : count of total loans taken by the customer at the time of disbursement

In [76]:
train_df['PRI_NO_OF_ACCOUNTS_Band'] = pd.cut(train_df['PRI_NO_OF_ACCTS'],6)
train_df[['PRI_NO_OF_ACCOUNTS_Band', 'loan_default']].groupby(['PRI_NO_OF_ACCOUNTS_Band'], as_index=False).mean().sort_values(by='PRI_NO_OF_ACCOUNTS_Band', ascending=True)

  PRI_NO_OF_ACCOUNTS_Band  loan_default
0          (-0.453, 75.5]      0.217061
1           (75.5, 151.0]      0.260000
2          (151.0, 226.5]      0.000000
3          (226.5, 302.0]      0.000000
4          (302.0, 377.5]      0.000000
5          (377.5, 453.0]      1.000000

In [94]:
for dataset in combine:    
    dataset.loc[ dataset['PRI_NO_OF_ACCTS'] <= 75.5, 'PRI_NO_OF_ACCTS'] = 0
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 75.5) & (dataset['PRI_NO_OF_ACCTS'] <= 151), 'PRI_NO_OF_ACCTS'] = 1
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 151) & (dataset['PRI_NO_OF_ACCTS'] <= 226.5), 'PRI_NO_OF_ACCTS'] = 2
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 226.5) & (dataset['PRI_NO_OF_ACCTS'] <= 302), 'PRI_NO_OF_ACCTS'] = 3
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 302) & (dataset['PRI_NO_OF_ACCTS'] <= 377.5), 'PRI_NO_OF_ACCTS'] = 4
    dataset.loc[ dataset['PRI_NO_OF_ACCTS'] > 377.5, 'PRI_NO_OF_ACCTS'] = 5

In [31]:
train_df.loc[ train_df['PRI.NO.OF.ACCTS'] <= 75.5, 'PRI.NO.OF.ACCTS'] = 0
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 75.5) & (train_df['PRI.NO.OF.ACCTS'] <= 151), 'PRI.NO.OF.ACCTS'] = 1
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 151) & (train_df['PRI.NO.OF.ACCTS'] <= 226.5), 'PRI.NO.OF.ACCTS'] = 2
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 226.5) & (train_df['PRI.NO.OF.ACCTS'] <= 302), 'PRI.NO.OF.ACCTS'] = 3
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 302) & (train_df['PRI.NO.OF.ACCTS'] <= 377.5), 'PRI.NO.OF.ACCTS'] = 4
train_df.loc[ train_df['PRI.NO.OF.ACCTS'] > 377.5, 'PRI.NO.OF.ACCTS'] = 5

In [ ]:
train_df.loc[ train_df['PRI.NO.OF.ACCTS'] <= 75.5, 'PRI.NO.OF.ACCTS'] = 0
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 75.5) & (train_df['PRI.NO.OF.ACCTS'] <= 151), 'PRI.NO.OF.ACCTS'] = 1
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 151) & (train_df['PRI.NO.OF.ACCTS'] <= 226.5), 'PRI.NO.OF.ACCTS'] = 2
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 226.5) & (train_df['PRI.NO.OF.ACCTS'] <= 302), 'PRI.NO.OF.ACCTS'] = 3
train_df.loc[(train_df['PRI.NO.OF.ACCTS'] > 302) & (train_df['PRI.NO.OF.ACCTS'] <= 377.5), 'PRI.NO.OF.ACCTS'] = 4
train_df.loc[ train_df['PRI.NO.OF.ACCTS'] > 377.5, 'PRI.NO.OF.ACCTS'] = 5

In [95]:
test_df['PRI_NO_OF_ACCTS'].max()

1

In [96]:
train_df['PRI_NO_OF_ACCTS'].max()

5

* Primary no of Active accounts - Count of active loans taken by the customer at the time of disbursement

In [98]:
train_df['PRI_ACTIVE_ACCTS_Band'] = pd.cut(train_df['PRI_ACTIVE_ACCTS'],5)
train_df[['PRI_ACTIVE_ACCTS_Band', 'loan_default']].groupby(['PRI_ACTIVE_ACCTS_Band'], as_index=False).mean().sort_values(by='PRI_ACTIVE_ACCTS_Band', ascending=True)

  PRI_ACTIVE_ACCTS_Band  loan_default
0        (-0.144, 28.8]      0.217077
1          (28.8, 57.6]      0.142857
2          (57.6, 86.4]      0.000000
3         (86.4, 115.2]           NaN
4        (115.2, 144.0]      0.000000

In [100]:
train_df['PRI_ACTIVE_ACCTS'].max()

144

In [101]:
for dataset in combine:    
    dataset.loc[ dataset['PRI_ACTIVE_ACCTS'] <= 28.8, 'PRI_ACTIVE_ACCTS'] = 0
    dataset.loc[(dataset['PRI_ACTIVE_ACCTS'] > 28.8) & (dataset['PRI_ACTIVE_ACCTS'] <= 57.6), 'PRI_ACTIVE_ACCTS'] = 1
    dataset.loc[(dataset['PRI_ACTIVE_ACCTS'] > 57.6) & (dataset['PRI_ACTIVE_ACCTS'] <= 86.4), 'PRI_ACTIVE_ACCTS'] = 2
    dataset.loc[(dataset['PRI_ACTIVE_ACCTS'] > 86.4) & (dataset['PRI_ACTIVE_ACCTS'] <= 115.2), 'PRI_ACTIVE_ACCTS'] = 3
    dataset.loc[ dataset['PRI_ACTIVE_ACCTS'] > 115.2, 'PRI_ACTIVE_ACCTS'] = 4

In [102]:
train_df['PRI_ACTIVE_ACCTS'].max()

4

In [103]:
test_df['PRI_ACTIVE_ACCTS'].max()

1