In [1]:
# Data Analysis and Wrangling 
import numpy as np
import pandas as pd
import random as rnd
from datetime import date
import re

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

C:\Users\shiva\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
# Aquire Data

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
combine = [train_df,test_df]

In [3]:
train_df.head()
# test_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [4]:
print (train_df.columns.values)

['UniqueID' 'disbursed_amount' 'asset_cost' 'ltv' 'branch_id'
 'supplier_id' 'manufacturer_id' 'Current_pincode_ID' 'Date.of.Birth'
 'Employment.Type' 'DisbursalDate' 'State_ID' 'Employee_code_ID'
 'MobileNo_Avl_Flag' 'Aadhar_flag' 'PAN_flag' 'VoterID_flag'
 'Driving_flag' 'Passport_flag' 'PERFORM_CNS.SCORE'
 'PERFORM_CNS.SCORE.DESCRIPTION' 'PRI.NO.OF.ACCTS' 'PRI.ACTIVE.ACCTS'
 'PRI.OVERDUE.ACCTS' 'PRI.CURRENT.BALANCE' 'PRI.SANCTIONED.AMOUNT'
 'PRI.DISBURSED.AMOUNT' 'SEC.NO.OF.ACCTS' 'SEC.ACTIVE.ACCTS'
 'SEC.OVERDUE.ACCTS' 'SEC.CURRENT.BALANCE' 'SEC.SANCTIONED.AMOUNT'
 'SEC.DISBURSED.AMOUNT' 'PRIMARY.INSTAL.AMT' 'SEC.INSTAL.AMT'
 'NEW.ACCTS.IN.LAST.SIX.MONTHS' 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS'
 'AVERAGE.ACCT.AGE' 'CREDIT.HISTORY.LENGTH' 'NO.OF_INQUIRIES'
 'loan_default']

In [5]:
for dataset in combine:
    dataset.rename(columns  = {"Date.of.Birth": "Date_of_Birth", 
                     "Employment.Type":"Employment_Type", 
                     "PERFORM_CNS.SCORE": "PERFORM_CNS_SCORE", 
                     "PERFORM_CNS.SCORE.DESCRIPTION": "PERFORM_CNS_SCORE_DESCRIPTION",
                     "PRI.NO.OF.ACCTS":"PRI_NO_OF_ACCTS", 
                     "PRI.ACTIVE.ACCTS": "PRI_ACTIVE_ACCTS", 
                     "PRI.OVERDUE.ACCTS":"PRI_OVERDUE_ACCTS", 
                     "PRI.CURRENT.BALANCE": "PRI_CURRENT_BALANCE", 
                     "PRI.SANCTIONED.AMOUNT": "PRI_SANCTIONED_AMOUNT",         
                     "SEC.NO.OF.ACCTS":"SEC_NO_OF_ACCTS", 
                     "SEC.ACTIVE.ACCTS": "SEC_ACTIVE_ACCTS", 
                     "SEC.OVERDUE.ACCTS":"SEC_OVERDUE_ACCTS", 
                     "PRIMARY.INSTAL.AMT": "PRIMARY_INSTAL_AMT", 
                     "NEW.ACCTS.IN.LAST.SIX.MONTHS":"NEW_ACCTS_IN_LAST_SIX_MONTHS", 
                     "DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS": "DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS", 
                     "AVERAGE.ACCT.AGE":"AVERAGE_ACCT_AGE", 
                     "CREDIT.HISTORY.LENGTH": "CREDIT_HISTORY_LENGTH", 
                     "NO.OF_INQUIRIES":"NO_OF_INQUIRIES" } ,   
                                 inplace = True)

In [6]:
print (train_df.columns.values)

['UniqueID' 'disbursed_amount' 'asset_cost' 'ltv' 'branch_id'
 'supplier_id' 'manufacturer_id' 'Current_pincode_ID' 'Date_of_Birth'
 'Employment_Type' 'DisbursalDate' 'State_ID' 'Employee_code_ID'
 'MobileNo_Avl_Flag' 'Aadhar_flag' 'PAN_flag' 'VoterID_flag'
 'Driving_flag' 'Passport_flag' 'PERFORM_CNS_SCORE'
 'PERFORM_CNS_SCORE_DESCRIPTION' 'PRI_NO_OF_ACCTS' 'PRI_ACTIVE_ACCTS'
 'PRI_OVERDUE_ACCTS' 'PRI_CURRENT_BALANCE' 'PRI_SANCTIONED_AMOUNT'
 'PRI.DISBURSED.AMOUNT' 'SEC_NO_OF_ACCTS' 'SEC_ACTIVE_ACCTS'
 'SEC_OVERDUE_ACCTS' 'SEC.CURRENT.BALANCE' 'SEC.SANCTIONED.AMOUNT'
 'SEC.DISBURSED.AMOUNT' 'PRIMARY_INSTAL_AMT' 'SEC.INSTAL.AMT'
 'NEW_ACCTS_IN_LAST_SIX_MONTHS' 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'
 'AVERAGE_ACCT_AGE' 'CREDIT_HISTORY_LENGTH' 'NO_OF_INQUIRIES'
 'loan_default']

In [7]:
train_df.describe(include=['O'])

,Date_of_Birth,Employment_Type,DisbursalDate,PERFORM_CNS_SCORE_DESCRIPTION,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH
count,233154,225493,233154,233154,233154,233154
unique,15433,2,84,20,192,294
top,01-01-88,Self employed,31-10-18,No Bureau History Available,0yrs 0mon,0yrs 0mon
freq,2173,127635,8826,116950,119373,119127

# Analysing by Pivoting features

In [8]:
# Analysing by Pivoting features

train_df[['Employment_Type','loan_default']].groupby(['Employment_Type'], as_index=False).mean().sort_values(by='loan_default',ascending=False)

  Employment_Type  loan_default
1   Self employed      0.227657
0        Salaried      0.203458

In [9]:
Employment_Type_mapping = {"Self employed": 1, "Salaried": 2}
for dataset in combine:
    dataset['Employment_Type'] = dataset['Employment_Type'].map(Employment_Type_mapping)
    dataset['Employment_Type'] = dataset['Employment_Type'].fillna(0)

train_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date_of_Birth,Employment_Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY_INSTAL_AMT,SEC.INSTAL.AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,2.0,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,1.0,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,1.0,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,1.0,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,1.0,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [10]:
# train_df[['PERFORM_CNS_SCORE_DESCRIPTION','loan_default']].groupby(['PERFORM_CNS_SCORE_DESCRIPTION'],as_index=False).mean().sort_values(by='loan_default',ascending=False)

# Correcting by dropping features

In [11]:
#Dropping the features
# train_df = train_df.drop(['UniqueID','disbursed_amount','asset_cost','supplier_id','Current_pincode_ID','DisbursalDate','Employee_code_ID','MobileNo_Avl_Flag','Aadhar_flag','PAN_flag','VoterID_flag','Driving_flag','Passport_flag','PERFORM_CNS.SCORE','PRI.SANCTIONED.AMOUNT','PRI.DISBURSED.AMOUNT','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT'], axis=1)

# Replace the features based on the Bands

* Primary No of Accounts : count of total loans taken by the customer at the time of disbursement

In [12]:
train_df['PRI_NO_OF_ACCOUNTS_Band'] = pd.cut(train_df['PRI_NO_OF_ACCTS'],6)
train_df[['PRI_NO_OF_ACCOUNTS_Band', 'loan_default']].groupby(['PRI_NO_OF_ACCOUNTS_Band'], as_index=False).mean().sort_values(by='PRI_NO_OF_ACCOUNTS_Band', ascending=True)

  PRI_NO_OF_ACCOUNTS_Band  loan_default
0          (-0.453, 75.5]      0.217061
1           (75.5, 151.0]      0.260000
2          (151.0, 226.5]      0.000000
3          (226.5, 302.0]      0.000000
4          (302.0, 377.5]      0.000000
5          (377.5, 453.0]      1.000000

In [13]:
for dataset in combine:    
    dataset.loc[ dataset['PRI_NO_OF_ACCTS'] <= 75.5, 'PRI_NO_OF_ACCTS'] = 0
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 75.5) & (dataset['PRI_NO_OF_ACCTS'] <= 151), 'PRI_NO_OF_ACCTS'] = 1
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 151) & (dataset['PRI_NO_OF_ACCTS'] <= 226.5), 'PRI_NO_OF_ACCTS'] = 2
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 226.5) & (dataset['PRI_NO_OF_ACCTS'] <= 302), 'PRI_NO_OF_ACCTS'] = 3
    dataset.loc[(dataset['PRI_NO_OF_ACCTS'] > 302) & (dataset['PRI_NO_OF_ACCTS'] <= 377.5), 'PRI_NO_OF_ACCTS'] = 4
    dataset.loc[ dataset['PRI_NO_OF_ACCTS'] > 377.5, 'PRI_NO_OF_ACCTS'] = 5

In [14]:
test_df['PRI_NO_OF_ACCTS'].max()

1

In [15]:
train_df['PRI_NO_OF_ACCTS'].max()

5

* Credit Score Band

In [16]:
train_df['PERFORM_CNS_SCORE_Band'] = pd.cut(train_df['PERFORM_CNS_SCORE'],10)
train_df[['PERFORM_CNS_SCORE_Band', 'loan_default']].groupby(['PERFORM_CNS_SCORE_Band'], as_index=False).mean().sort_values(by='PERFORM_CNS_SCORE_Band', ascending=True)

  PERFORM_CNS_SCORE_Band  loan_default
0          (-0.89, 89.0]      0.229726
1          (89.0, 178.0]           NaN
2         (178.0, 267.0]           NaN
3         (267.0, 356.0]      0.301116
4         (356.0, 445.0]      0.299908
5         (445.0, 534.0]      0.249280
6         (534.0, 623.0]      0.262104
7         (623.0, 712.0]      0.184259
8         (712.0, 801.0]      0.152289
9         (801.0, 890.0]      0.164595

In [17]:
for dataset in combine:    
    dataset.loc[ dataset['PERFORM_CNS_SCORE'] <= 89, 'PERFORM_CNS_SCORE'] = 0
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 89) & (dataset['PERFORM_CNS_SCORE'] <= 178), 'PERFORM_CNS_SCORE'] = 1
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 178) & (dataset['PERFORM_CNS_SCORE'] <= 267), 'PERFORM_CNS_SCORE'] = 2
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 267) & (dataset['PERFORM_CNS_SCORE'] <= 356), 'PERFORM_CNS_SCORE'] = 3
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 356) & (dataset['PERFORM_CNS_SCORE'] <= 445), 'PERFORM_CNS_SCORE'] = 4
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 445) & (dataset['PERFORM_CNS_SCORE'] <= 534), 'PERFORM_CNS_SCORE'] = 5
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 534) & (dataset['PERFORM_CNS_SCORE'] <= 623), 'PERFORM_CNS_SCORE'] = 6
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 623) & (dataset['PERFORM_CNS_SCORE'] <= 712), 'PERFORM_CNS_SCORE'] = 7
    dataset.loc[(dataset['PERFORM_CNS_SCORE'] > 712) & (dataset['PERFORM_CNS_SCORE'] <= 801), 'PERFORM_CNS_SCORE'] = 8
    dataset.loc[ dataset['PERFORM_CNS_SCORE'] > 801, 'PERFORM_CNS_SCORE'] = 9

In [18]:
train_df['PERFORM_CNS_SCORE'].max()

9

In [19]:
test_df['PERFORM_CNS_SCORE'].max()

9

* Primary no of Active accounts - Count of active loans taken by the customer at the time of disbursement

In [20]:
train_df['PRI_ACTIVE_ACCTS_Band'] = pd.cut(train_df['PRI_ACTIVE_ACCTS'],5)
train_df[['PRI_ACTIVE_ACCTS_Band', 'loan_default']].groupby(['PRI_ACTIVE_ACCTS_Band'], as_index=False).mean().sort_values(by='PRI_ACTIVE_ACCTS_Band', ascending=True)

  PRI_ACTIVE_ACCTS_Band  loan_default
0        (-0.144, 28.8]      0.217077
1          (28.8, 57.6]      0.142857
2          (57.6, 86.4]      0.000000
3         (86.4, 115.2]           NaN
4        (115.2, 144.0]      0.000000

In [21]:
train_df['PRI_ACTIVE_ACCTS'].max()

144

In [22]:
for dataset in combine:    
    dataset.loc[ dataset['PRI_ACTIVE_ACCTS'] <= 28.8, 'PRI_ACTIVE_ACCTS'] = 0
    dataset.loc[(dataset['PRI_ACTIVE_ACCTS'] > 28.8) & (dataset['PRI_ACTIVE_ACCTS'] <= 57.6), 'PRI_ACTIVE_ACCTS'] = 1
    dataset.loc[(dataset['PRI_ACTIVE_ACCTS'] > 57.6) & (dataset['PRI_ACTIVE_ACCTS'] <= 86.4), 'PRI_ACTIVE_ACCTS'] = 2
    dataset.loc[(dataset['PRI_ACTIVE_ACCTS'] > 86.4) & (dataset['PRI_ACTIVE_ACCTS'] <= 115.2), 'PRI_ACTIVE_ACCTS'] = 3
    dataset.loc[ dataset['PRI_ACTIVE_ACCTS'] > 115.2, 'PRI_ACTIVE_ACCTS'] = 4

In [23]:
train_df['PRI_ACTIVE_ACCTS'].max()

4

In [24]:
test_df['PRI_ACTIVE_ACCTS'].max()

1

* Primary OverDue Accounts - count of default accounts at the time of disbursement

In [25]:
train_df['PRI_OVERDUE_ACCTS_Band'] = pd.cut(train_df['PRI_OVERDUE_ACCTS'],5)
train_df[['PRI_OVERDUE_ACCTS_Band', 'loan_default']].groupby(['PRI_OVERDUE_ACCTS_Band'], as_index=False).mean().sort_values(by='PRI_OVERDUE_ACCTS_Band', ascending=True)

  PRI_OVERDUE_ACCTS_Band  loan_default
0          (-0.025, 5.0]      0.217067
1            (5.0, 10.0]      0.213542
2           (10.0, 15.0]      0.258065
3           (15.0, 20.0]      0.333333
4           (20.0, 25.0]      0.000000

In [26]:
train_df['PRI_OVERDUE_ACCTS'].max()

25

In [27]:
for dataset in combine:    
    dataset.loc[ dataset['PRI_OVERDUE_ACCTS'] <= 5, 'PRI_OVERDUE_ACCTS'] = 0
    dataset.loc[(dataset['PRI_OVERDUE_ACCTS'] > 5) & (dataset['PRI_OVERDUE_ACCTS'] <= 10), 'PRI_OVERDUE_ACCTS'] = 1
    dataset.loc[(dataset['PRI_OVERDUE_ACCTS'] > 10) & (dataset['PRI_OVERDUE_ACCTS'] <= 15), 'PRI_OVERDUE_ACCTS'] = 2
    dataset.loc[(dataset['PRI_OVERDUE_ACCTS'] > 15) & (dataset['PRI_OVERDUE_ACCTS'] <= 20), 'PRI_OVERDUE_ACCTS'] = 3
    dataset.loc[ dataset['PRI_OVERDUE_ACCTS'] > 20, 'PRI_OVERDUE_ACCTS'] = 4

In [28]:
train_df['PRI_OVERDUE_ACCTS'].max()

4

In [29]:
train_df['PRI_CURRENT_BALANCE_Band'] = pd.cut(train_df['PRI_CURRENT_BALANCE'],5)
train_df[['PRI_CURRENT_BALANCE_Band', 'loan_default']].groupby(['PRI_CURRENT_BALANCE_Band'], as_index=False).mean().sort_values(by='PRI_CURRENT_BALANCE_Band', ascending=True)

     PRI_CURRENT_BALANCE_Band  loan_default
0  (-6781499.216, 13962347.2]      0.217120
1    (13962347.2, 34602990.4]      0.134454
2    (34602990.4, 55243633.6]      0.222222
3    (55243633.6, 75884276.8]      0.000000
4    (75884276.8, 96524920.0]      0.000000

In [30]:
train_df['PRI_CURRENT_BALANCE'].max()

96524920

In [31]:
for dataset in combine:    
    dataset.loc[ dataset['PRI_CURRENT_BALANCE'] <= 13962347.2, 'PRI_CURRENT_BALANCE'] = 0
    dataset.loc[(dataset['PRI_CURRENT_BALANCE'] > 13962347.2) & (dataset['PRI_CURRENT_BALANCE'] <= 34602990.4), 'PRI_CURRENT_BALANCE'] = 1
    dataset.loc[(dataset['PRI_CURRENT_BALANCE'] > 34602990.4) & (dataset['PRI_CURRENT_BALANCE'] <= 55243633.6), 'PRI_CURRENT_BALANCE'] = 2
    dataset.loc[(dataset['PRI_CURRENT_BALANCE'] > 55243633.6) & (dataset['PRI_CURRENT_BALANCE'] <= 75884276.8), 'PRI_CURRENT_BALANCE'] = 3
    dataset.loc[ dataset['PRI_CURRENT_BALANCE'] > 75884276.8, 'PRI_CURRENT_BALANCE'] = 4

In [32]:
train_df['PRI_CURRENT_BALANCE'].max()

4

* Secondary No of Accounts - count of total loans taken by the customer at the time of disbursement

In [33]:
train_df['SEC_NO_OF_ACCTS_Band'] = pd.cut(train_df['SEC_NO_OF_ACCTS'],4)
train_df[['SEC_NO_OF_ACCTS_Band', 'loan_default']].groupby(['SEC_NO_OF_ACCTS_Band'], as_index=False).mean().sort_values(by='SEC_NO_OF_ACCTS_Band', ascending=True)

  SEC_NO_OF_ACCTS_Band  loan_default
0       (-0.052, 13.0]      0.217099
1         (13.0, 26.0]      0.149254
2         (26.0, 39.0]      0.142857
3         (39.0, 52.0]      0.000000

In [34]:
for dataset in combine:    
    dataset.loc[ dataset['SEC_NO_OF_ACCTS'] <= 13, 'SEC_NO_OF_ACCTS'] = 0
    dataset.loc[(dataset['SEC_NO_OF_ACCTS'] > 13) & (dataset['SEC_NO_OF_ACCTS'] <= 26), 'SEC_NO_OF_ACCTS'] = 1
    dataset.loc[(dataset['SEC_NO_OF_ACCTS'] > 26) & (dataset['SEC_NO_OF_ACCTS'] <= 39), 'SEC_NO_OF_ACCTS'] = 2
    dataset.loc[ dataset['SEC_NO_OF_ACCTS'] > 39, 'SEC_NO_OF_ACCTS'] = 3

In [35]:
train_df['SEC_NO_OF_ACCTS'].max()

3

* Secondary Active Accounts - Count of active loans taken by the customer at the time of disbursement

In [36]:
train_df['SEC_ACTIVE_ACCTS_Band'] = pd.cut(train_df['SEC_ACTIVE_ACCTS'],4)
train_df[['SEC_ACTIVE_ACCTS_Band', 'loan_default']].groupby(['SEC_ACTIVE_ACCTS_Band'], as_index=False).mean().sort_values(by='SEC_ACTIVE_ACCTS_Band', ascending=True)

  SEC_ACTIVE_ACCTS_Band  loan_default
0         (-0.036, 9.0]      0.217069
1           (9.0, 18.0]      0.242424
2          (18.0, 27.0]      0.200000
3          (27.0, 36.0]      0.000000

In [37]:
for dataset in combine:    
    dataset.loc[ dataset['SEC_ACTIVE_ACCTS'] <= 9, 'SEC_ACTIVE_ACCTS'] = 0
    dataset.loc[(dataset['SEC_ACTIVE_ACCTS'] > 9) & (dataset['SEC_ACTIVE_ACCTS'] <= 18), 'SEC_ACTIVE_ACCTS'] = 1
    dataset.loc[(dataset['SEC_ACTIVE_ACCTS'] > 18) & (dataset['SEC_ACTIVE_ACCTS'] <= 27), 'SEC_ACTIVE_ACCTS'] = 2
    dataset.loc[ dataset['SEC_ACTIVE_ACCTS'] > 27, 'SEC_ACTIVE_ACCTS'] = 3

In [38]:
train_df['SEC_ACTIVE_ACCTS'].max()

3

* Secondary OverDue Accounts - count of default accounts at the time of disbursement

In [39]:
train_df['SEC_OVERDUE_ACCTS_Band'] = pd.cut(train_df['SEC_OVERDUE_ACCTS'],4)
train_df[['SEC_OVERDUE_ACCTS_Band', 'loan_default']].groupby(['SEC_OVERDUE_ACCTS_Band'], as_index=False).mean().sort_values(by='SEC_OVERDUE_ACCTS_Band', ascending=True)

  SEC_OVERDUE_ACCTS_Band  loan_default
0          (-0.008, 2.0]      0.217070
1             (2.0, 4.0]      0.212121
2             (4.0, 6.0]      0.285714
3             (6.0, 8.0]      0.000000

In [40]:
for dataset in combine:    
    dataset.loc[ dataset['SEC_OVERDUE_ACCTS'] <= 9, 'SEC_OVERDUE_ACCTS'] = 0
    dataset.loc[(dataset['SEC_OVERDUE_ACCTS'] > 9) & (dataset['SEC_OVERDUE_ACCTS'] <= 18), 'SEC_OVERDUE_ACCTS'] = 1
    dataset.loc[(dataset['SEC_OVERDUE_ACCTS'] > 18) & (dataset['SEC_OVERDUE_ACCTS'] <= 27), 'SEC_OVERDUE_ACCTS'] = 2
    dataset.loc[ dataset['SEC_OVERDUE_ACCTS'] > 27, 'SEC_OVERDUE_ACCTS'] = 3

In [41]:
train_df['SEC_ACTIVE_ACCTS'].max()

3

* Primary Instalment - EMI Amount of the primary loan

In [42]:
train_df['PRIMARY_INSTAL_AMT_Band'] = pd.cut(train_df['PRIMARY_INSTAL_AMT'],5)
train_df[['PRIMARY_INSTAL_AMT_Band', 'loan_default']].groupby(['PRIMARY_INSTAL_AMT_Band'], as_index=False).mean().sort_values(by='PRIMARY_INSTAL_AMT_Band', ascending=True)

    PRIMARY_INSTAL_AMT_Band  loan_default
0   (-25642.806, 5128561.2]      0.217074
1   (5128561.2, 10257122.4]      0.166667
2  (10257122.4, 15385683.6]      0.250000
3  (15385683.6, 20514244.8]      0.333333
4  (20514244.8, 25642806.0]      0.000000

In [43]:
for dataset in combine:    
    dataset.loc[ dataset['PRIMARY_INSTAL_AMT'] <= 5128561.2, 'PRIMARY_INSTAL_AMT'] = 0
    dataset.loc[(dataset['PRIMARY_INSTAL_AMT'] > 5128561.25) & (dataset['PRIMARY_INSTAL_AMT'] <= 10257122.4), 'PRIMARY_INSTAL_AMT'] = 1
    dataset.loc[(dataset['PRIMARY_INSTAL_AMT'] > 10257122.4) & (dataset['PRIMARY_INSTAL_AMT'] <= 15385683.6), 'PRIMARY_INSTAL_AMT'] = 2
    dataset.loc[(dataset['PRIMARY_INSTAL_AMT'] > 15385683.6) & (dataset['PRIMARY_INSTAL_AMT'] <= 20514244.8), 'PRIMARY_INSTAL_AMT'] = 3
    dataset.loc[ dataset['PRIMARY_INSTAL_AMT'] > 20514244.8, 'PRIMARY_INSTAL_AMT'] = 4

In [44]:
train_df['PRIMARY_INSTAL_AMT'].max()

4

* New Accounts taken in last 6 months - New loans taken by the customer in last 6 months before the disbursment

In [45]:
train_df['NEW_ACCTS_IN_LAST_SIX_MONTHS_Band'] = pd.cut(train_df['NEW_ACCTS_IN_LAST_SIX_MONTHS'],5)
train_df[['NEW_ACCTS_IN_LAST_SIX_MONTHS_Band', 'loan_default']].groupby(['NEW_ACCTS_IN_LAST_SIX_MONTHS_Band'], as_index=False).mean().sort_values(by='NEW_ACCTS_IN_LAST_SIX_MONTHS_Band', ascending=True)

  NEW_ACCTS_IN_LAST_SIX_MONTHS_Band  loan_default
0                     (-0.035, 7.0]      0.217121
1                       (7.0, 14.0]      0.178771
2                      (14.0, 21.0]      0.363636
3                      (21.0, 28.0]      0.000000
4                      (28.0, 35.0]      0.000000

In [46]:
for dataset in combine:    
    dataset.loc[ dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] <= 7, 'NEW_ACCTS_IN_LAST_SIX_MONTHS'] = 0
    dataset.loc[(dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] > 7) & (dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] <= 14), 'NEW_ACCTS_IN_LAST_SIX_MONTHS'] = 1
    dataset.loc[(dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] > 14) & (dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] <= 21), 'NEW_ACCTS_IN_LAST_SIX_MONTHS'] = 2
    dataset.loc[(dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] > 21) & (dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] <= 28), 'NEW_ACCTS_IN_LAST_SIX_MONTHS'] = 3
    dataset.loc[ dataset['NEW_ACCTS_IN_LAST_SIX_MONTHS'] > 28, 'NEW_ACCTS_IN_LAST_SIX_MONTHS'] = 4

In [47]:
train_df['NEW_ACCTS_IN_LAST_SIX_MONTHS'].max()

4

* DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS - Loans defaulted in the last 6 months

In [48]:
train_df['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band'] = pd.cut(train_df['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'],5)
train_df[['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band', 'loan_default']].groupby(['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band'], as_index=False).mean().sort_values(by='DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band', ascending=True)

  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band  loan_default
0                             (-0.02, 4.0]      0.217044
1                               (4.0, 8.0]      0.275510
2                              (8.0, 12.0]      0.300000
3                             (12.0, 16.0]           NaN
4                             (16.0, 20.0]      0.000000

In [49]:
for dataset in combine:    
    dataset.loc[ dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] <= 4, 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] = 0
    dataset.loc[(dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] > 4) & (dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] <= 8), 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] = 1
    dataset.loc[(dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] > 8) & (dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] <= 12), 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] = 2
    dataset.loc[(dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] > 12) & (dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] <= 16), 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] = 3
    dataset.loc[ dataset['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] > 16, 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'] = 4

In [50]:
train_df['DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS'].max()

4

* NO.OF_INQUIRIES - Enquries done by the customer for loans

In [51]:
train_df['NO_OF_INQUIRIES_Band'] = pd.cut(train_df['NO_OF_INQUIRIES'],6)
train_df[['NO_OF_INQUIRIES_Band', 'loan_default']].groupby(['NO_OF_INQUIRIES_Band'], as_index=False).mean().sort_values(by='NO_OF_INQUIRIES_Band', ascending=True)

  NO_OF_INQUIRIES_Band  loan_default
0        (-0.036, 6.0]      0.216795
1          (6.0, 12.0]      0.389049
2         (12.0, 18.0]      0.375000
3         (18.0, 24.0]      0.222222
4         (24.0, 30.0]      0.000000
5         (30.0, 36.0]      0.000000

In [52]:
for dataset in combine:    
    dataset.loc[ dataset['NO_OF_INQUIRIES'] <= 6, 'NO_OF_INQUIRIES'] = 0
    dataset.loc[(dataset['NO_OF_INQUIRIES'] > 6) & (dataset['NO_OF_INQUIRIES'] <= 12), 'NO_OF_INQUIRIES'] = 1
    dataset.loc[(dataset['NO_OF_INQUIRIES'] > 12) & (dataset['NO_OF_INQUIRIES'] <= 18), 'NO_OF_INQUIRIES'] = 2
    dataset.loc[(dataset['NO_OF_INQUIRIES'] > 18) & (dataset['NO_OF_INQUIRIES'] <= 24), 'NO_OF_INQUIRIES'] = 3
    dataset.loc[(dataset['NO_OF_INQUIRIES'] > 24) & (dataset['NO_OF_INQUIRIES'] <= 30), 'NO_OF_INQUIRIES'] = 4
    dataset.loc[ dataset['NO_OF_INQUIRIES'] > 30, 'NO_OF_INQUIRIES'] = 5

In [53]:
train_df['NO_OF_INQUIRIES'].max()
test_df['NO_OF_INQUIRIES'].max()

3

# Calculating age from DOB

In [54]:
for dataset in combine:
    dataset['Age'] = int(date.today().strftime('%y')) - (dataset['Date_of_Birth'].str[-2:].astype(int)) + 100

In [55]:
for index, row in train_df.iterrows():
    age = int(row.Age)
    if age >= 100:
        train_df.loc[index, 'Age'] = age - 100

In [56]:
train_df['AgeBand'] = pd.cut(train_df['Age'], 5)
train_df[['AgeBand', 'loan_default']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

          AgeBand  loan_default
0  (18.949, 29.2]      0.235205
1    (29.2, 39.4]      0.214122
2    (39.4, 49.6]      0.202379
3    (49.6, 59.8]      0.196550
4    (59.8, 70.0]      0.161969

In [57]:
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 29.2, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 29.2) & (dataset['Age'] <= 39.4), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 39.4) & (dataset['Age'] <= 49.6), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 49.6) & (dataset['Age'] <= 59.8), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 59.8, 'Age'] = 4

In [58]:
# train_df['NO_OF_INQUIRIES'].max()
# test_df['NO_OF_INQUIRIES'].max()

# Converting Average Account age and credit History Length columns to months numerical

In [59]:
def split_it(strn):
#     return re.findall('\d+',strn)
    return (int(re.findall('\d+',strn)[0])*12 + int(re.findall('\d+',strn)[1]))

In [60]:
for dataset in combine:
    dataset['Avg_Acnt_Age_Mnths'] = dataset['AVERAGE_ACCT_AGE'].apply(split_it)

In [61]:
for dataset in combine:
    dataset['Credit_His_Length_Mnths'] = dataset['CREDIT_HISTORY_LENGTH'].apply(split_it)

In [62]:
train_df.tail()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date_of_Birth,Employment_Type,...,SEC_ACTIVE_ACCTS_Band,SEC_OVERDUE_ACCTS_Band,PRIMARY_INSTAL_AMT_Band,NEW_ACCTS_IN_LAST_SIX_MONTHS_Band,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band,NO_OF_INQUIRIES_Band,Age,AgeBand,Avg_Acnt_Age_Mnths,Credit_His_Length_Mnths
233149,626432,63213,105405,60.72,34,20700,48,1050,01-08-88,2.0,...,"(-0.036, 9.0]","(-0.008, 2.0]","(-25642.806, 5128561.2]","(-0.035, 7.0]","(-0.02, 4.0]","(-0.036, 6.0]",1,"(29.2, 39.4]",21,39
233150,606141,73651,100600,74.95,34,23775,51,990,05-12-88,1.0,...,"(-0.036, 9.0]","(-0.008, 2.0]","(-25642.806, 5128561.2]","(-0.035, 7.0]","(-0.02, 4.0]","(-0.036, 6.0]",1,"(29.2, 39.4]",6,6
233151,613658,33484,71212,48.45,77,22186,86,2299,01-06-76,2.0,...,"(-0.036, 9.0]","(-0.008, 2.0]","(-25642.806, 5128561.2]","(-0.035, 7.0]","(-0.02, 4.0]","(-0.036, 6.0]",2,"(39.4, 49.6]",0,0
233152,548084,34259,73286,49.10,77,22186,86,2299,26-03-94,2.0,...,"(-0.036, 9.0]","(-0.008, 2.0]","(-25642.806, 5128561.2]","(-0.035, 7.0]","(-0.02, 4.0]","(-0.036, 6.0]",0,"(18.949, 29.2]",0,0
233153,630213,75751,116009,66.81,77,22186,86,2299,18-02-84,2.0,...,"(-0.036, 9.0]","(-0.008, 2.0]","(-25642.806, 5128561.2]","(-0.035, 7.0]","(-0.02, 4.0]","(-0.036, 6.0]",1,"(29.2, 39.4]",0,0

* Average Accounts age band creation

In [63]:
train_df['Avg_Acnt_Age_Mnths_Band'] = pd.cut(train_df['Avg_Acnt_Age_Mnths'], 5)
train_df[['Avg_Acnt_Age_Mnths_Band', 'loan_default']].groupby(['Avg_Acnt_Age_Mnths_Band'], as_index=False).mean().sort_values(by='Avg_Acnt_Age_Mnths_Band', ascending=True)

  Avg_Acnt_Age_Mnths_Band  loan_default
0          (-0.369, 73.8]      0.217272
1           (73.8, 147.6]      0.194555
2          (147.6, 221.4]      0.156250
3          (221.4, 295.2]      0.000000
4          (295.2, 369.0]      0.000000

In [64]:
for dataset in combine:    
    dataset.loc[ dataset['Avg_Acnt_Age_Mnths'] <= 73.8, 'Avg_Acnt_Age_Mnths'] = 0
    dataset.loc[(dataset['Avg_Acnt_Age_Mnths'] > 73.8) & (dataset['Avg_Acnt_Age_Mnths'] <= 147.6), 'Avg_Acnt_Age_Mnths'] = 1
    dataset.loc[(dataset['Avg_Acnt_Age_Mnths'] > 147.6) & (dataset['Avg_Acnt_Age_Mnths'] <= 221.4), 'Avg_Acnt_Age_Mnths'] = 2
    dataset.loc[(dataset['Avg_Acnt_Age_Mnths'] > 221.4) & (dataset['Avg_Acnt_Age_Mnths'] <= 295.2), 'Avg_Acnt_Age_Mnths'] = 3
    dataset.loc[ dataset['Avg_Acnt_Age_Mnths'] > 295.2, 'Avg_Acnt_Age_Mnths'] = 4

In [65]:
# train_df['Avg_Acnt_Age_Mnths'].max()
test_df['Avg_Acnt_Age_Mnths'].max()

4

* Credit History Length Band creation

In [66]:
train_df['Credit_His_Length_Mnths_Band'] = pd.cut(train_df['Credit_His_Length_Mnths'], 5)
train_df[['Credit_His_Length_Mnths_Band', 'loan_default']].groupby(['Credit_His_Length_Mnths_Band'], as_index=False).mean().sort_values(by='Credit_His_Length_Mnths_Band', ascending=True)

  Credit_His_Length_Mnths_Band  loan_default
0               (-0.468, 93.6]      0.219192
1                (93.6, 187.2]      0.148917
2               (187.2, 280.8]      0.159468
3               (280.8, 374.4]      0.233333
4               (374.4, 468.0]      0.250000

In [67]:
for dataset in combine:    
    dataset.loc[ dataset['Credit_His_Length_Mnths'] <= 73.8, 'Credit_His_Length_Mnths'] = 0
    dataset.loc[(dataset['Credit_His_Length_Mnths'] > 73.8) & (dataset['Credit_His_Length_Mnths'] <= 147.6), 'Credit_His_Length_Mnths'] = 1
    dataset.loc[(dataset['Credit_His_Length_Mnths'] > 147.6) & (dataset['Credit_His_Length_Mnths'] <= 221.4), 'Credit_His_Length_Mnths'] = 2
    dataset.loc[(dataset['Credit_His_Length_Mnths'] > 221.4) & (dataset['Credit_His_Length_Mnths'] <= 295.2), 'Credit_His_Length_Mnths'] = 3
    dataset.loc[ dataset['Credit_His_Length_Mnths'] > 295.2, 'Credit_His_Length_Mnths'] = 4

In [68]:
train_df['Credit_His_Length_Mnths'].max()
# test_df['Credit_His_Length_Mnths'].max()

4

In [69]:
train_df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date_of_Birth',
       'Employment_Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS_SCORE',
       'PERFORM_CNS_SCORE_DESCRIPTION', 'PRI_NO_OF_ACCTS', 'PRI_ACTIVE_ACCTS',
       'PRI_OVERDUE_ACCTS', 'PRI_CURRENT_BALANCE', 'PRI_SANCTIONED_AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC_NO_OF_ACCTS', 'SEC_ACTIVE_ACCTS',
       'SEC_OVERDUE_ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY_INSTAL_AMT', 'SEC.INSTAL.AMT',
       'NEW_ACCTS_IN_LAST_SIX_MONTHS', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS',
       'AVERAGE_ACCT_AGE', 'CREDIT_HISTORY_LENGTH', 'NO_OF_INQUIRIES',
       'loan_default', 'PRI_NO_OF_ACCOUNTS_Band', 'PERFORM_CNS_SCORE_Band',
       'PRI_ACTIVE_ACCTS_Band', 'PRI_OVERDUE_ACCTS_Band',
       'PRI_CURRENT_BALANCE_Band', 'SEC_NO_OF_ACCTS_Band',
       'SEC_ACTIVE_ACCTS_Band', 'SEC_OVERDUE_ACCTS_Band',
       'PRIMARY_INSTAL_AMT_Band', 'NEW_ACCTS_IN_LAST_SIX_MONTHS_Band',
       'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band', 'NO_OF_INQUIRIES_Band',
       'Age', 'AgeBand', 'Avg_Acnt_Age_Mnths', 'Credit_His_Length_Mnths',
       'Avg_Acnt_Age_Mnths_Band', 'Credit_His_Length_Mnths_Band'],
      dtype='object')

In [70]:
train_df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date_of_Birth',
       'Employment_Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS_SCORE',
       'PERFORM_CNS_SCORE_DESCRIPTION', 'PRI_NO_OF_ACCTS', 'PRI_ACTIVE_ACCTS',
       'PRI_OVERDUE_ACCTS', 'PRI_CURRENT_BALANCE', 'PRI_SANCTIONED_AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC_NO_OF_ACCTS', 'SEC_ACTIVE_ACCTS',
       'SEC_OVERDUE_ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY_INSTAL_AMT', 'SEC.INSTAL.AMT',
       'NEW_ACCTS_IN_LAST_SIX_MONTHS', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS',
       'AVERAGE_ACCT_AGE', 'CREDIT_HISTORY_LENGTH', 'NO_OF_INQUIRIES',
       'loan_default', 'PRI_NO_OF_ACCOUNTS_Band', 'PERFORM_CNS_SCORE_Band',
       'PRI_ACTIVE_ACCTS_Band', 'PRI_OVERDUE_ACCTS_Band',
       'PRI_CURRENT_BALANCE_Band', 'SEC_NO_OF_ACCTS_Band',
       'SEC_ACTIVE_ACCTS_Band', 'SEC_OVERDUE_ACCTS_Band',
       'PRIMARY_INSTAL_AMT_Band', 'NEW_ACCTS_IN_LAST_SIX_MONTHS_Band',
       'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band', 'NO_OF_INQUIRIES_Band',
       'Age', 'AgeBand', 'Avg_Acnt_Age_Mnths', 'Credit_His_Length_Mnths',
       'Avg_Acnt_Age_Mnths_Band', 'Credit_His_Length_Mnths_Band'],
      dtype='object')

* Ltv Band creation

In [71]:
train_df['ltvBand'] = pd.cut(train_df['ltv'], 10)
train_df[['ltvBand', 'loan_default']].groupby(['ltvBand'], as_index=False).mean().sort_values(by='ltvBand', ascending=True)

            ltvBand  loan_default
0   (9.945, 18.527]      0.066667
1  (18.527, 27.024]      0.169065
2  (27.024, 35.521]      0.127413
3  (35.521, 44.018]      0.129683
4  (44.018, 52.515]      0.130960
5  (52.515, 61.012]      0.148949
6  (61.012, 69.509]      0.173445
7  (69.509, 78.006]      0.208740
8  (78.006, 86.503]      0.252581
9    (86.503, 95.0]      0.262592

In [72]:
for dataset in combine:    
    dataset.loc[ dataset['ltv'] <= 18.527, 'ltv'] = 0
    dataset.loc[(dataset['ltv'] > 18.527) &  (dataset['ltv'] <= 27.024), 'ltv'] = 1
    dataset.loc[(dataset['ltv'] > 27.024) & (dataset['ltv'] <= 35.521), 'ltv'] = 2
    dataset.loc[(dataset['ltv'] > 35.521) & (dataset['ltv'] <= 44.018), 'ltv'] = 3
    dataset.loc[(dataset['ltv'] > 44.018) & (dataset['ltv'] <= 52.515), 'ltv'] = 4
    dataset.loc[(dataset['ltv'] > 52.515) & (dataset['ltv'] <= 61.012), 'ltv'] = 5
    dataset.loc[(dataset['ltv'] > 61.012) & (dataset['ltv'] <= 69.509), 'ltv'] = 6
    dataset.loc[(dataset['ltv'] > 69.509) & (dataset['ltv'] <= 78.006), 'ltv'] = 7
    dataset.loc[(dataset['ltv'] > 78.006) & (dataset['ltv'] <= 86.503), 'ltv'] = 8
    dataset.loc[ dataset['ltv'] > 86.503, 'ltv'] = 9

In [73]:
train_df['ltv'].max()
# test_df['ltv'].max()

9.0

* Dropping unecessary Columns

In [74]:
train_df = train_df.drop(['UniqueID','disbursed_amount','Date_of_Birth','asset_cost','supplier_id','Current_pincode_ID','DisbursalDate','Employee_code_ID','MobileNo_Avl_Flag','Aadhar_flag','PAN_flag','VoterID_flag','Driving_flag','Passport_flag','PERFORM_CNS_SCORE_DESCRIPTION','PRI_SANCTIONED_AMOUNT','PRI.DISBURSED.AMOUNT','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT','AVERAGE_ACCT_AGE','CREDIT_HISTORY_LENGTH'], axis=1)

In [75]:
test_df = test_df.drop(['disbursed_amount','Date_of_Birth','asset_cost','supplier_id','Current_pincode_ID','DisbursalDate','Employee_code_ID','MobileNo_Avl_Flag','Aadhar_flag','PAN_flag','VoterID_flag','Driving_flag','Passport_flag','PERFORM_CNS_SCORE_DESCRIPTION','PRI_SANCTIONED_AMOUNT','PRI.DISBURSED.AMOUNT','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT','AVERAGE_ACCT_AGE','CREDIT_HISTORY_LENGTH'], axis=1)

In [76]:
train_df = train_df.drop(['PRI_NO_OF_ACCOUNTS_Band','PRI_ACTIVE_ACCTS_Band','PRI_OVERDUE_ACCTS_Band','PRI_CURRENT_BALANCE_Band','SEC_NO_OF_ACCTS_Band', 'SEC_ACTIVE_ACCTS_Band',
       'SEC_OVERDUE_ACCTS_Band', 'PRIMARY_INSTAL_AMT_Band',
       'NEW_ACCTS_IN_LAST_SIX_MONTHS_Band',
       'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS_Band', 'NO_OF_INQUIRIES_Band',
       'AgeBand','Avg_Acnt_Age_Mnths_Band', 'Credit_His_Length_Mnths_Band','ltvBand','PERFORM_CNS_SCORE_Band'], axis=1)

In [77]:
train_df.head()

,ltv,branch_id,manufacturer_id,Employment_Type,State_ID,PERFORM_CNS_SCORE,PRI_NO_OF_ACCTS,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,PRI_CURRENT_BALANCE,...,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,PRIMARY_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,loan_default,Age,Avg_Acnt_Age_Mnths,Credit_His_Length_Mnths
0,9.0,67,45,2.0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,7.0,67,45,1.0,6,6,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,9.0,67,45,1.0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,9.0,67,45,1.0,6,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9.0,67,45,1.0,6,0,0,0,0,0,...,0,0,0,0,0,0,1,2,0,0

In [78]:
test_df.head()

,UniqueID,ltv,branch_id,manufacturer_id,Employment_Type,State_ID,PERFORM_CNS_SCORE,PRI_NO_OF_ACCTS,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,...,SEC_NO_OF_ACCTS,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,PRIMARY_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,Age,Avg_Acnt_Age_Mnths,Credit_His_Length_Mnths
0,655269,9.0,67,45,2.0,6,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
1,723482,9.0,67,45,1.0,6,8,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,758529,8.0,78,86,2.0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,763449,7.0,78,45,1.0,4,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
4,708663,8.0,78,45,2.0,4,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0

In [79]:
X_train = train_df.drop("loan_default", axis=1)
Y_train = train_df["loan_default"]
X_test  = test_df.drop("UniqueID", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((233154, 20), (233154,), (112392, 20))

In [80]:
train_df.head()

,ltv,branch_id,manufacturer_id,Employment_Type,State_ID,PERFORM_CNS_SCORE,PRI_NO_OF_ACCTS,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,PRI_CURRENT_BALANCE,...,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,PRIMARY_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,loan_default,Age,Avg_Acnt_Age_Mnths,Credit_His_Length_Mnths
0,9.0,67,45,2.0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,7.0,67,45,1.0,6,6,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,9.0,67,45,1.0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,9.0,67,45,1.0,6,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9.0,67,45,1.0,6,0,0,0,0,0,...,0,0,0,0,0,0,1,2,0,0

In [81]:
X_train.head()

,ltv,branch_id,manufacturer_id,Employment_Type,State_ID,PERFORM_CNS_SCORE,PRI_NO_OF_ACCTS,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,PRI_CURRENT_BALANCE,SEC_NO_OF_ACCTS,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,PRIMARY_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,Age,Avg_Acnt_Age_Mnths,Credit_His_Length_Mnths
0,9.0,67,45,2.0,6,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,7.0,67,45,1.0,6,6,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,9.0,67,45,1.0,6,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,9.0,67,45,1.0,6,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,9.0,67,45,1.0,6,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0

In [82]:
X_test.head()

,ltv,branch_id,manufacturer_id,Employment_Type,State_ID,PERFORM_CNS_SCORE,PRI_NO_OF_ACCTS,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,PRI_CURRENT_BALANCE,SEC_NO_OF_ACCTS,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,PRIMARY_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,Age,Avg_Acnt_Age_Mnths,Credit_His_Length_Mnths
0,9.0,67,45,2.0,6,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
1,9.0,67,45,1.0,6,8,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,8.0,78,86,2.0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,7.0,78,45,1.0,4,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
4,8.0,78,45,2.0,4,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0

In [83]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

78.29

In [84]:
coeff_df = pd.DataFrame(train_df.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])

coeff_df.sort_values(by='Correlation', ascending=False)

                                Feature  Correlation
16                         loan_default     0.550977
18                   Avg_Acnt_Age_Mnths     0.298936
0                             branch_id     0.213387
8                   PRI_CURRENT_BALANCE     0.108717
15                      NO_OF_INQUIRIES     0.072414
6                      PRI_ACTIVE_ACCTS     0.051612
4                     PERFORM_CNS_SCORE     0.023598
11                    SEC_OVERDUE_ACCTS     0.003700
1                       manufacturer_id     0.000651
12                   PRIMARY_INSTAL_AMT     0.000000
2                       Employment_Type    -0.003596
13         NEW_ACCTS_IN_LAST_SIX_MONTHS    -0.006094
7                     PRI_OVERDUE_ACCTS    -0.023558
5                       PRI_NO_OF_ACCTS    -0.038187
10                     SEC_ACTIVE_ACCTS    -0.078818
17                                  Age    -0.082434
14  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS    -0.082475
9                       SEC_NO_OF_ACCTS    -0.106174
3                              State_ID    -0.150969
19              Credit_His_Length_Mnths    -0.245687

82.37

In [86]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

78.29

In [87]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

78.29

In [88]:
# KNN

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

77.32

In [99]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=120)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

82.37

In [90]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

55.67

In [91]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

32.5

In [102]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

82.37

In [100]:
models = pd.DataFrame({
    'Model': ['KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
2               Random Forest  82.37
7               Decision Tree  82.37
1         Logistic Regression  78.29
4                  Perceptron  78.29
6                  Linear SVC  78.29
0                         KNN  77.32
3                 Naive Bayes  55.67
5  Stochastic Gradient Decent  32.50

In [103]:
submission = pd.DataFrame({
        "UniqueID": test_df["UniqueID"],
        "loan_default": Y_pred
    })
submission.to_csv('submission.csv', index=False)